<form action="">
    <div class="form-group row mt-3">
        <div class="col-6">
            <label for="proveedores">Registro Producto</label>
        </div>
    </div>

    <hr>

    <div class="col-12 col-md-6">
        <label for="producto">Id Producto</label>
        <input type="number" class="form-control" placeholder="Id Producto" name="producto" id="producto">
    </div>

    <div class="col-12 col-md-6">
        <label for="nombre">Nombre</label>
        <input type="text" class="form-control" placeholder="Nombre" name="nomb" id="nom">
    </div>

    <div class="col-12 col-md-6">
        <label for="descripcion">Descripcion</label>
		<textarea name="descripcion" id="descripcion" class="form-control"></textarea>
    </div>

    <div class="col-12 col-md-6">
        <label for="insumo">Id Insumo</label>
        <input type="number" class="form-control" placeholder="Id Insumo" name="insumo" id="insumo">
    </div>

    <div class="col-12 col-md-6">
        <label for="imagen">Imagen</label>
        <input type="text" class="form-control" placeholder="Imagen" name="imagen" id="imagen">
    </div>

    <div class="form-group row mt-3">
        <div class="col-12">
          <div class="row justify-content-center">
            <div class="col-3">
              <button class="btn btn-primary btn-block" type="submit">Guardar</button>
            </div>
  
            <div class="col-3">
              <button class="btn btn-primary btn-block" type="cancelar">Cancelar</button>
            </div>
          </div>
        </div>
      </div>
</form>
