<form action="">
    <div class="form-group row mt-3">
        <div class="col-6">
            <label for="proveedores">Registro Proveedor</label>
        </div>
    </div>

    <hr>

    <div class="col-12 col-md-6">
        <label for="id">Id Proveedor</label>
        <input type="number" class="form-control" placeholder="Id Proveedor" name="id" id="id">
    </div>

    <div class="col-12 col-md-6">
        <label for="nombre">Nombre</label>
        <input type="text" class="form-control" placeholder="Nombre" name="nom" id="nom">
    </div>

    <div class="col-12 col-md-6">
        <label for="dir">Direccion</label>
        <input type="text" class="form-control" placeholder="Direccion" name="dir" id="dir">
    </div>

    <div class="col-12 col-md-6">
        <label for="telf">Telefono</label>
        <input type="number" class="form-control" placeholder="Telefono" name="telf" id="telf">
    </div>

    <div class="col-12 col-md-6">
        <label for="mail">Email</label>
        <input type="text" class="form-control" placeholder="Email" name="mail" id="mail">
    </div>

    <div class="form-group row mt-3">
        <div class="col-12">
          <div class="row justify-content-center">
            <div class="col-3">
              <button class="btn btn-primary btn-block" type="submit">Guardar</button>
            </div>
  
            <div class="col-3">
              <button class="btn btn-primary btn-block" type="cancelar">Cancelar</button>
            </div>
          </div>
        </div>
      </div>
</form>