<table datatable class="row-border hover">
    <thead>
      <tr>
        <th>ID Empleado</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Id Tipo Empleado</th>
        <th>Direccion</th>
        <th>Telefono</th>
        <th>Foto</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Jostin</td>
        <td>Martinez</td>
        <td>1</td>
        <td>Av. Los Pinos</td>
        <td>511-3636</td>
        <td>Imagen</td>
      </tr>
      <tr>
        <td>2</td>
        <td>Katy</td>
        <td>Sulca</td>
        <td>1</td>
        <td>Av. Los Pinos</td>
        <td>511-3636</td>
        <td>Imagen</td>
      </tr>
      <tr>
        <td>3</td>
        <td>Julio</td>
        <td>Inchaustegui</td>
        <td>1</td>
        <td>Av. Los Pinos</td>
        <td>511-3636</td>
        <td>Imagen</td>
      </tr>
      <tr>
        <td>4</td>
        <td>Julio</td>
        <td>Garcia</td>
        <td>1</td>
        <td>Av. Los Pinos</td>
        <td>511-3636</td>
        <td>Imagen</td>
      </tr>
      <tr>
        <td>5</td>
        <td>Kevin</td>
        <td>Torres</td>
        <td>1</td>
        <td>Av. Los Pinos</td>
        <td>511-3636</td>
        <td>Imagen</td>
      </tr>
      <tr>
        <td>6</td>
        <td>Ivan</td>
        <td>Tomas</td>
        <td>1</td>
        <td>Av. Los Pinos</td>
        <td>511-3636</td>
        <td>Imagen</td>
      </tr>
      <tr>
        <td>7</td>
        <td>Celia</td>
        <td>Villacorta</td>
        <td>1</td>
        <td>Av. Los Pinos</td>
        <td>511-3636</td>
        <td>Imagen</td>
      </tr>
      <tr>
        <td>8</td>
        <td>Isabel</td>
        <td>Nuñez</td>
        <td>1</td>
        <td>Av. Los Pinos</td>
        <td>511-3636</td>
        <td>Imagen</td>
      </tr>
      <tr>
        <td>9</td>
        <td>Katia</td>
        <td>Bereca</td>
        <td>1</td>
        <td>Av. Los Pinos</td>
        <td>511-3636</td>
        <td>Imagen</td>
      </tr>
      <tr>
        <td>10</td>
        <td>Luana</td>
        <td>Soria</td>
        <td>1</td>
        <td>Av. Los Pinos</td>
        <td>511-3636</td>
        <td>Imagen</td>
      </tr>
      <tr>
        <td>11</td>
        <td>Nick</td>
        <td>Saurino</td>
        <td>1</td>
        <td>Av. Los Pinos</td>
        <td>511-3636</td>
        <td>Imagen</td>
      </tr>
      <tr>
        <td>12</td>
        <td>Edeiner</td>
        <td>Sabino</td>
        <td>1</td>
        <td>Av. Los Pinos</td>
        <td>511-3636</td>
        <td>Imagen</td>
      </tr>
    </tbody>
  </table>
